.container {
    /* margin-top: 20vh;
    margin-bottom: 12vh;
    height: 60vh; */
    /* text-align: center; */
    /* position: relative;
    overflow-x: hidden; */
    /* text-align: center; */
    /* background-color: #7F5283; */
  }